numpy
librosa
soundfile
moviepy
Flask-SQLAlchemy
SQLAlchemy
SQLAlchemy-Utils
typing_extensions
pydantic
flask-pydantic-api[serializer]
werkzeug
flask-openapi3
flask-cors
google-auth
google-cloud-storage 
google-cloud-translate
google-cloud-speech
google-cloud-texttospeech
pytube
psycopg2
unidecode